


input{
  padding:10px 0px 10px 5px;
  margin: 5px 0px;
  width: 300px;
  border-radius: 20px;
  font-size: 20px;
  margin-left: 39%;
  border: 2px solid  navajowhite;
}

.allcontent{

padding: 20px;

margin: auto;

background: navajowhite;
}
.title_heading{
  color: #9a9a9a;

  font-size: 20px;
  margin-bottom: 10px;
  font-family: arial black;
  padding: 20px;
  margin-left: 36%;
}
.error{
  color: red;
  margin-left: 46%;
  font-size: 20px;
opacity: 0;
  transition: 0.3s;





}

.click{
  width: 158px;
  text-align: center;
  margin-left:44%;
  margin-top: 13px;
  background: #2b2925;
  border: 4px solid #d4d4de;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  border-radius: 10px;
  padding: 10px;
}



.registationcountry{
  width: 100%;
  height:;
  background: navajowhite;
  padding: 50px;
}

.country_title{color:white;text-align: center;}
h2{
  color: #2b2925;
  text-align: center;
  margin-left: -125px;
}
select{
  color:white;
  padding:10px;
  background: #2b2925;
  font-family: arial black;
  margin-left: 40%;
  font-weight: 40px;
  border-radius: 10px;
}


.bddivition {
  display: none;
}
.mymonsingDisct{
    display: none;

}
.rajshahidodict{
    display: none;
}

.Sylet{
    display: none;
}
